<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="GetThatSound" version="3.0">
  <display-name>GetThatSound</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>standard access</web-resource-name>
      <url-pattern>/standard/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>manager access</web-resource-name>
      <url-pattern>/manager/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <web-resource-collection>
      <web-resource-name>admin access</web-resource-name>
      <url-pattern>/admin/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    
   <user-data-constraint>
      <transport-guarantee>NONE</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
   
  <error-page>
    <error-code>500</error-code>
    <location>/error.jsp</location>
  </error-page>
 <error-page>
   <error-code>404</error-code>
    <location>/error.jsp</location>
  </error-page>
  <error-page>
  
    <exception-type>java.lang.Exception</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <context-param>
        <param-name>mp3-dir</param-name>
        <param-value>C:/audio</param-value>
    </context-param>
    
   
</web-app>